/* Header CSS */

:root {
    /* Fonts Family */
    --roboto-font: "Roboto", sans-serif;
    --lilita-font: "Lilita One";
    --oswald-font: "Oswald", sans-serif;
  
    /* Colors */
    --light-black: #333;
    --light-white: #f7f7f7;
    --light-red: #e3000e;
    --light-grey: #f6f9fa;
    --light-grey-2: #dddddd;
    --white: #fff;
    --yellow: #f7be27;
    --grey: #757575;
    --brown: #6f5e4d;
    --bg-coffee: #642f21;
  }
  
  .active {
    color: var(--yellow); /* Change the active link color */
  }
  
  header .navbar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
  }
  
  header .navbar.sticky {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
  }
  
  header .logo img {
    max-height: 80px;
    width: auto;
  }
  
  header .nav-link {
    display: inline-flex;
    justify-content: center;
    color: var(--light-white); /* Change the font color */
    padding: 0 1rem !important;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: var(--oswald-font); /* Change the font family */
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  header .sticky .nav-link {
    color: var(--light-black);
  }
  
  header .nav-link:hover {
    color: var(--yellow);
  }
  
  header .cart {
    position: relative;
    top: 0px;
    height: 20px;
  }
  
  header .roundpoint {
    width: 16px;
    height: 16px;
    background: var(--light-red);
    border-radius: 50%;
    color: var(--white);
    font-size: 11.2px;
    line-height: 16px;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 3.2px;
    right: -8px;
  }
  
  .offcanvas {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .offcanvas-header {
    background-color: #757575;
    color: #fff;
    border-bottom: none;
    padding: 1.5rem;
  }
  
  .offcanvas-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  
  .offcanvas-body {
    padding: 1.5rem;
  }
  
  .offcanvas-body .nav-link {
    padding: 1rem 0;
    color: #343a40;
    font-size: 1.3rem;
    transition: color 0.3s ease;
  }
  
  .offcanvas-body .nav-link:hover {
    color: #e3000e;
  }
  
  .offcanvas-body .nav-link i {
    margin-right: 0.5rem;
  }
  
  .offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Media Query CSS */
  @media (max-width: 992px) {
    header .navbar {
      background-color: var(--white);
    }
    header .navbar-toggler {
      border: none;
    }
    header .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    header .navbar-toggler-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
    header .nav-link {
      color: var(--light-black);
      padding: 1rem !important;
    }
  }
  