.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-inner {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* photo.css */

/* Button styles */
.ph-bt {
    padding: 10px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White color for text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ph-bt:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  